@import url(../SideBar-and-header/header.css);
@import url(../SideBar-and-header/sidebar.css);
@import url(Crad.css);
@import url(Files-Statistics-style.css);

*{

    margin: 0px;
    padding: 0px;
    font-size: 16px;

}

body{

    font-family: "Open Sans", sans-serif;
    display: flex;
    
}

.header-and-content{

    background-color: #7777771a;
    width:100%;

}
    
.contant{

    display:grid;
    gap: 20px;
    grid-template-columns: auto 250px;
    padding: 20px;

}

@media(max-width:770px){
.contant{

    padding: 10px;
    display: flex;
    flex-direction: column-reverse;

}
}

h1{
    
    font-size: 30px;
    margin: 30px 30px 50px;
    position: relative;
    width: fit-content;

}

h1::before{

    content: "";
    position: absolute;
    height: 2px;
    width: 35%;
    bottom: -5px;
    left: 0px;
    background-color: black;
    border-radius: 10px;

}

h1::after{

    content: "";
    position: absolute;
    height: 2px;
    width: 65%;
    bottom: -5px;
    right: 0px;
    background-color: white;
    border-radius: 10px;

}