*{

    margin: 0px;
    padding: 0px;

}

.welcome{

    display:grid;
    gap: 10px;
    border-radius: 10px;
    background-color: white;
    width: 100%;

}

.welcome .intro{

    position: relative;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(128, 128, 128, 0.212);
    padding: 10px;
    border-radius: 10px;

}

.intro h2{

    font-size: 30px;
    margin-bottom: 10px;

}

@media(max-width:700px){
.intro h2{

    font-size: 25px;

}
}

.intro p{

    font-size: 20px;
    color: #777777d0;

}

.intro div img{

    position: absolute;
    height: 50px;
    border-radius: 50%;
    border-color: #f5f5f5;
    border-style: solid;
    left: 25px;
    bottom: -25px;
    border-width: 5px;

}

@media(max-width:700px){
.intro div img{

    left: 80%;

}
}

@media(max-width:700px){
.intro > img{

    display:none;

}
}

.welcome .text{

    display:flex;
    justify-content: space-between;
    margin: 25px 0px 0px;
    padding: 10px;
    text-align: center;
    border: solid 1px ;
    border-color: #77777731 transparent;

}

@media(max-width:700px){
.welcome .text{

    display: flex;
    gap: 10px;
    flex-direction: column;

}
}

.welcome .text div p{

    padding: 10px 0px;
    color: #ccc;

}

.welcome h3{

    margin: 10px 10px 10px auto;
    padding: 5px;
    border-radius: 10px;
    color: white;
    background-color: orangered;

}
