*{

    margin: 0px;
    padding: 0px;
    
}

body{

    font-family: "Open Sans", sans-serif;
    margin: 0px;
    padding: 0px;
    

}

.Home-page{

    display: flex;

}

.Home-page .sidebar{

    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0px 0px 10px -5px black;
    height: 100vh;
    width: 120px;
}

.sidebar h3{

    position: relative;
    width: fit-content;
    margin: 0px auto;
    padding: 20px;

}

.sidebar h3::before{

    content: "";
    position: absolute;
    bottom: 8px;
    left: 0px;
    width: 100%;
    height: 2px;
    background-color: black;
}

.sidebar h3::after{

    content: "";
    position: absolute;
    bottom: 3px;
    left: 43%;
    height: 8px;
    width: 8px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;

}

.sidebar p{

    position: relative;
    padding: 10px 10px 10px 25px;
    font-size: 15px;
    border-radius: 10px;
    transition: .3s;

}

.sidebar p:hover{

    background-color: #cccccc7e;

}

.sidebar a:nth-child(2) p::before{

    font: var(--fa-font-solid);
    content: '\f001';
    position: absolute;
    left: 5px;
    top: 11px;
    font-size: 15px;

}
.sidebar a:nth-child(3) p::before{

    font: var(--fa-font-solid);
    content: '\f002';
    position: absolute;
    left: 5px;
    top: 11px;
    font-size: 15px;

}
.sidebar a:nth-child(4) p::before{

    font: var(--fa-font-solid);
    content: '\f003';
    position: absolute;
    left: 5px;
    top: 11px;
    font-size: 15px;

}
.sidebar a:nth-child(5) p::before{

    font: var(--fa-font-solid);
    content: '\f004';
    position: absolute;
    left: 5px;
    top: 11px;
    font-size: 15px;

}
.sidebar a:nth-child(6) p::before{

    font: var(--fa-font-solid);
    content: '\f005';
    position: absolute;
    left: 5px;
    top: 11px;
    font-size: 15px;

}
.sidebar a:nth-child(7) p::before{

    font: var(--fa-font-solid);
    content: '\f0014';
    position: absolute;
    left: 5px;
    top: 11px;
    font-size: 15px;

}
.sidebar a:nth-child(8) p::before{

    font: var(--fa-font-solid);
    content: '\f007';
    position: absolute;
    left: 5px;
    top: 11px;
    font-size: 15px;

}
.sidebar a:nth-child(9) p::before{

    font: var(--fa-font-solid);
    content: '\f008';
    position: absolute;
    left: 5px;
    top: 11px;
    font-size: 15px;

}