:root{

    --miancolor:white;
    --lrgeFont:15px;
    --smallFont:13px;
    --fontoficons: 12px;
    --timeOftransition: .3s;;

}

*{

    margin: 0px;
    padding: 0px;
    
}

header{

    box-shadow: 0px 0px 10px -5px black;
    background-color: var(--miancolor);
    width: 100%;
    height: 60px;
    display: flex;
    gap: 30px;
    flex-direction: row;
    justify-content: space-between;
    z-index: -1;

}

header div:first-child{

    width:50%;
    display:flex;
    gap:3px;
    align-items: center;
    border: solid 2px rgba(0, 0, 0, 0.151);
    border-radius: 10px;
    margin:15px;
    padding: 0px 10px;
    transition: var(--timeOftransition);

}

header div:first-child i{

    color: #77777759;

}

header input{

    width: 100%;
    border: solid 2px transparent;

}

div:first-child:has(input:focus){

    width:53%;

}

header input:focus{

    width: 100%;
    outline: none;
    border-color: transparent;

}

header input::placeholder{

    font-size: 100%;
    color: #777777be;

}

header div:last-child {

    display:flex;
    gap: 10px;
    flex-direction: row;
    padding: 10px;

}

header div:last-child i{

    position: relative;
    font-size: 20px;
    padding-top: 20px;

}

header div:last-child i::after{

    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: orangered;
    border-radius: 50%;
    top: 3px;
    right: -5px;

}

header div:last-child img{

    height: 40px;
    border-radius: 50%;

}