:root{

    --lrgeFont:15px;
    --smallFont:13px;
    --timeOftransition: .3s;;

}

*{

    margin: 0px;
    padding: 0px;
    
}

body{

    font-family: "Open Sans", sans-serif;
    margin: 0px;
    padding: 0px;
    

}

.sidebar-and-header-style{

    display: flex;

}

.sidebar-and-header-style .sidebar{

    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0px 0px 10px -5px black;
    height: 100vh;
    width: 120px;
    font-size: var(--lrgeFont);

}

@media(max-width:600px){
.sidebar-and-header-style .sidebar{

    padding: 10px;
    width: 50px;
    font-size: var(--smallFont);

}
}

.sidebar h3{

    position: relative;
    width: fit-content;
    margin: 20px auto;
    padding: 10px;

}

@media(max-width:600px){
.sidebar h3{

    width: fit-content;
    margin: 5px auto;
    padding: 0px;

}
}

.sidebar h3::before{

    content: "";
    position: absolute;
    bottom: -5px;
    left: 0px;
    width: 100%;
    height: 2px;
    background-color: black;
}

@media(max-width:600px){
.sidebar h3::before{

    display: none;

}
}

.sidebar h3::after{

    content: "";
    position: absolute;
    bottom: -10px;
    left: 43%;
    height: 8px;
    width: 8px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: black;

}

@media(max-width:600px){
.sidebar h3::after{
    
    display: none;
    
}
}

.sidebar a{

    display: flex;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: var(--timeOftransition);

}

.sidebar a:hover{

    background-color: #eee;

}

@media(max-width:600px){
.sidebar a p{

    display: none;
}
}

.sidebar-and-header-style header{

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

header div:first-child{

    position: relative;

}

header div::before{

    font-family: var(--fa-style-family-classic);
    content: "\f002";
    font-weight: 900;
    position: absolute;
    left: 22px;
    top: 35px;
    transform: translateY(-50%);
    font-size: 12px;
    color:gray;

}

header input{

    padding: 10px;
    margin: 15px;
    border-color: rgba(0, 0, 0, 0.151);
    border-radius: 10px;
    transition: var(--timeOftransition);

}

header input:focus{

    padding: 10px 15px;
    outline: none;
    border-color: rgba(0, 0, 0, 0.151);

}

header input::placeholder{

    padding-left: 10px;

}