*{

    padding: 0px;
    margin: 0px;

}

.Quick-Draft{

    display:grid;
    gap: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;

}

.Quick-Draft p{

    color: #777777d0;

}

.Quick-Draft textarea{

    padding: 10px;
    border-color: #ccc;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.096);
    resize: none;

}

.Quick-Draft textarea:focus{

    outline: none;
    border-color: #ccc;

}

.Quick-Draft h3{

    margin-left: auto;
    margin-top: auto;
    padding:6px;
    color: white;
    background-color: orangered;
    border-radius: 10px;

}