.information{

    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    margin: 20px;

}

@media(max-width: 1004px){
.information{

    grid-template-columns: 1fr;
    margin: 10px;

}
}

.information .avatar-box{

    display: grid;
    text-align: center;
    justify-content: center;
    gap: 20px;
    border-right: 1px solid #ccc;
    margin: auto 0px;

}

@media(max-width: 1004px){
.information .avatar-box{

    border-bottom: 1px solid #ccc;
    border-right: none;
    padding-bottom: 15px;

}
}

.information .avatar-box img{

    width: 200px;
    border-radius: 50%;

}

@media(max-width: 500px){
.information .avatar-box img{

    width: 150px;
    margin: auto;

}
}

.information .avatar-box h2{

    position: relative;

}

.information .avatar-box h2::before{

    content: "";
    position: absolute;
    left: 0px;
    bottom: -7px;
    background: orangered;
    height: 3px;
    width: 70%;
    border-radius: 10px;

}

.information .avatar-box h2::after{

    content: "";
    position: absolute;
    right: 0px;
    bottom: -7px;
    background: #ccc;
    height: 3px;
    width: 30%;
    border-radius: 10px;

}

.information .avatar-box div{

    display: flex;
    gap: 5px;
    justify-content: center;
    color: gold;

}

.information .avatar-box p:first-of-type{

    font-size: 18px;

}

.information .avatar-box p:last-of-type{

    font-size: 13px;

}

.information .infoes{

    display: grid;
    margin: 0px 10px;
    gap: 25px;

}

@media(max-width: 1100px){
    .information .infoes{

    text-align: center;

}
}

.information .infoes .info{

    margin: 10px 0px;

}

.information .infoes .info div{

    display: flex;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
    margin: 10px 0px;
    position: relative;
    
}

@media(max-width: 1100px){
.information .infoes .info div{

    flex-direction: column;

}
}

.information .infoes .info div span{

    color: black;
    
}