@import url(../SideBar-and-header/header.css);
@import url(../SideBar-and-header/sidebar.css);
@import url(greeting/greeting-style.css);
@import url(greeting/greeting-style.css);
@import url(Last-Project-Progress/Last-Project-Progress-style.css);
@import url(Latest-News/Latest-News.css);
@import url(Latest-Post/Latest-Post-style.css);
@import url(Latest-Tasks/Latest-Tasks-style.css);
@import url(Latest-Uploads/Latest-Uploads-style.css);
@import url(project/project-style.css);
@import url(Quick-Draft/Quick-Draft.css);
@import url(Reminders/Reminders-style.css);
@import url(Social-Media-Stats/Social-Media-Stats-style.css);
@import url(Tickets-Statistics/Tickets-Statistics-style.css);
@import url(Top-Search-Items/Top-Search-Items-style.css);
@import url(Yearly-Targets/Yearly-Targets-style.css);

*{

    margin: 0px;
    padding: 0px;
    font-size: 16px;

}

body{

    font-family: "Open Sans", sans-serif;
    display: flex;
    margin: 0px;
    padding: 0px;

}

.header-and-content{

    background-color: #7777771a;
    width:100%;

}
    
.content{

    padding: 20px;
    display:grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;


}

@media(max-width:1000px){
.content{

    padding: 10px;
    display:grid;
    grid-template-columns: 1fr;

}
}

h1{
    
    font-size: 30px;
    margin: 30px 30px 50px;
    position: relative;
    width: fit-content;

}

h1::before{

    content: "";
    position: absolute;
    height: 2px;
    width: 35%;
    bottom: -5px;
    left: 0px;
    background-color: black;
    border-radius: 10px;

}

h1::after{

    content: "";
    position: absolute;
    height: 2px;
    width: 65%;
    bottom: -5px;
    right: 0px;
    background-color: white;
    border-radius: 10px;

}